@import "ag-grid-community/styles/ag-grid.css";
@import "~ag-grid-community/styles/ag-theme-balham.css";
@import "~ag-grid-community/styles/ag-theme-material.css";
@import "./variables.scss";
@import "./mixins.scss";
@import "./bootstrap-addons.scss";
@import "bootstrap/scss/bootstrap";
/* You can add global styles to this file, and also import other style files */

.menu-small {
  display: none;
}

html {
  height: 100%;
}

body {
  height: 100%;
  padding: 0px;
  font-family: "Cardo", sans-serif;
}

.page-top-bar {
  display: flex;
  flex-direction: row !important;
  justify-content: space-between !important;
}

.page-title {
  font-size: 42px;
  font-weight: bold;
  padding: 8px;
}

h1 {
  font-size: 26px;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
}

h2 {
  font-size: 22px;
  font-style: italic;
  font-family: "Oswald", sans-serif;
}

h3 {
  font-size: 18px;
  font-family: "Oswald", sans-serif;
}

.list-title {
  font-size: larger;
  font-weight: bold;
  text-align: center;

  // color: $color-3;
}

.large {
  font-size: 24px;
}

@media (max-width: 768px) {
  body {
    height: 100%;
  }

  .menu-big {
    display: none;
  }

  .menu-small {
    display: block;
  }

  nav {
    min-height: $menu-height !important;
  }

  body {
    padding-top: $menu-height;
  }

  .small-only-content {
    display: block;
  }

  .large-only-content {
    display: none;
  }

  .cc-padding {
    padding: 15px 5px 5px 5px;
  }
}

@media (min-width: 768px) {
  $menu-height: 79px;
  nav {
    min-height: $menu-height !important;
  }

  body {
    padding-top: $menu-height;
  }

  .small-only-content {
    display: none;
  }

  .large-only-content {
    display: block;
  }

  .cc-padding {
    padding: 25px 25px 10px 25px;
  }
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.wrap-disabled {
  background-color: $color-white-disabled;
}

.loading-input {
  width: 32px;
  height: 32px;
  background: url("../assets/images/loading.gif") no-repeat;
}

.loading-inline-small {
  display: inline-block;
  width: 16px;
  height: 16px;
  z-index: 999;
  background: url("../assets/images/loading.gif") no-repeat;
  background-size: 16px 16px;
}

.loading {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url("../assets/images/loading.gif") no-repeat;
}

.loading-inline {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  z-index: 999;
  background: url("../assets/images/loading.gif") no-repeat;
}

option:disabled {
  background-color: $color-white-disabled;
}

.line {
  border-top: 1px;
  border-style: solid;
  border-color: $color-gray;
}

.fraction-separator {
  border-top: 1px;
  border-style: solid;
  border-color: black;
}

.clickable-icon {
  cursor: pointer;
}

.row-centered {
  display: flex;
  flex-direction: row;
  align-items: center;
  // flex-wrap: wrap;
  // line-height: 50px;
}

.row-centered-wrap {
  flex-wrap: wrap;
  line-height: 50px;
  @extend .row-centered;
}

.checklist {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    @extend .row-centered;
  }
}

.form-section {
  border-color: $color-gray;
  border-width: 1px;
  border-style: solid;
  padding-bottom: 10px;
  .title {
    color: $color-1;
    font-size: x-large;
    font-weight: bold;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .sub-title {
    color: $color-2;
    font-size: large;
  }
}

.pointer {
  cursor: pointer;
}

.nowrap {
  white-space: nowrap;
}

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.bold {
  font-weight: bold;
}

.warning {
  color: $color-warning;
  font-weight: bold;
}

.danger {
  color: $color-danger;
  font-weight: bold;
}
