$color-1: #d77ec4;
$color-2: #8ac18e;
$color-3: #f0759a;
$color-warning: #ffbf00;
$color-danger: #d81e5b;
$color-success: #28502e;

$color-1-darker: darken(#d77ec4, 20);
$color-1-lighter: lighten(#d77ec4, 20);

$color-white: #e8e8e8;
$color-white-disabled: #e9ecef;
$color-black: black;
$color-gray: #495057;

$primary: $color-1;
$secondary: $color-2;
$menu-height: 40px;
