@import "../../../sass/mixins.scss";
@import "../../../sass/modules/custom-inputs.scss";

.input-wrap {
  @include input-wrap-base;
  width: 100%;
  align-items: center;
  align-content: center;
  height: calc(1.5em + 0.75rem + 2px);
  border: 1px solid #e8e8e8;
  border-radius: 0.25rem;
}

.input-wrap > .input-field {
  border: 1px solid transparent !important;
}

mat-datepicker-toggle {
  color: $color-gray;
}
