@import "../../sass/variables.scss";

.navbar {
  overflow: hidden;
  background-color: $color-1;
}

.menu-big {
  a {
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
}

.button {
  background-color: $color-1;
}

.title {
  font-size: 72px;
  white-space: nowrap;
  text-align: center;
}

@media (max-width: 1068px) {
  .title {
    font-size: 36px;
  }
}
