@import "../../sass/variables.scss";

.navbar {
  overflow: hidden;
  background-color: $color-1;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.title {
  font-size: 72px;
  text-align: center;
  left: 0;
  right: 0;

  margin-left: auto;
  margin-right: auto;

  //position: absolute;
}
