<app-menu></app-menu>
<div class="h-100 .div-top">
  <div class="container-fluid h-100">
    <router-outlet></router-outlet>
  </div>
</div>
<!-- <app-menu></app-menu>
<div class="h-100 div-top" style="position: relative">
  <div class="h-100" style="position: absolute; left: 0px; right: 0px">
    <mat-sidenav-container class="content-container" hasBackdrop="true">
      <mat-sidenav-content>
        <mat-drawer-container class="content-container" hasBackdrop="false">
          <mat-drawer-content>
            <div class="container-fluid h-100">
              <router-outlet></router-outlet>
            </div>
          </mat-drawer-content>
        </mat-drawer-container>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div> -->
