<!-- <p>Welcome To cooking Calendar</p> -->
<!-- <p><a routerLink="/users">Manage Users</a></p>
<button class="btn btn-primary" (click)="callGetRecipe()">Get Recipe</button> -->

<h2 class="top-description">
  Thank you for creating an account with cooking Calendar. Read the descriptions
  below for how to get started in each section. When you're ready to start
  simplifing your meal planning experience add a recipe
</h2>
<button class="btn btn-primary" (click)="callGetRecipe()">Create Recipe</button>
<div class="row">
  <div class="home-col">
    <h1>Next Meal</h1>
    <p>Go to the calendar page to plan recipes</p>
  </div>
  <div class="home-col">
    <h1>Shopping List</h1>
    <p>Go to the shopping page to make a grocery list</p>
  </div>
  <div class="home-col">
    <h1>Upcoming Meals</h1>
    <p>Go to the calendar page to plan recipes</p>
  </div>
</div>
