@use "../variables.scss";

@mixin info-icon($color) {
  background-color: $color;
  padding-right: 10px;
  cursor: pointer;
}

#icon-error {
  @include info-icon($color-danger);
}

#icon-warning {
  @include info-icon($color-warning);
}

.label-left {
  display: flex;
  align-items: center;

  .input-wrap {
    flex: 1 1 1px;
  }
}
